.dropbtn {
  padding: 8px;
  font-size: 14px;
  line-height: 130%;
  text-transform: uppercase;
  background: transparent;
  color: #d1fdff;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.dropbtn-icon {
  transition: 1s;
  margin-left: 8px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  padding: 22px 24px;
  display: none;
  position: absolute;
  background-color: #3d4c87;
  border-radius: 20px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: 1s;
}

.dropdown-content a {
  color: #d1fdff;
  white-space: nowrap;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  &:last-child {
    margin-bottom: 0;
  }
}

.dropdown-content a:hover {
  color: #fff;
}

.dropdown:hover .dropdown-content {
  display: block;
  transition: 1s;
}

.dropdown:hover .dropbtn-icon {
  transform: rotate(180deg);
  transition: 1s;
}
