.link{
    font-size: 14px;
    line-height: 19px;
    color: #F8F8F8;
    text-decoration: none;
    &-blue{
        color: #D1FDFF;
        text-decoration: none;
        
    }
    &-dark{
        color:#2A355E;
        text-decoration: none;
    }
}