.aboutSection {
	&__container {
		padding: 45px 0;
		display: flex;
		flex-direction: column;
	}
	&__ourMission {
		& .text {
			color: #d1fdff;
		}

		& .text-big {
			position: relative;
			margin-bottom: 13px;
			&::before {
				position: absolute;
				content: "";
				background-color: #d1fdff;
				height: 1px;
				width: 140px;
				bottom: 0;
				left: 150px;
			}
		}
	}
	@media screen and (min-width: 1440px) {
		&__container {
			display: flex;
			flex-direction: row;
			align-items: flex-end;
			gap: 15px;
		}

		&__left {
			max-width: 615px;
			margin-bottom: 0px;
		}
	}
}

.aboutSection__left {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-bottom: 35px;

	& .textGroup {
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		gap: 25px;
		padding-left: 15px;
		& .text {
			position: relative;
			&::before {
				content: "";
				position: absolute;
				width: 1px;
				height: 100%;
				left: -15px;
				top: 50%;
				transform: translateY(-50%);
				background-color: #64c1c6;
			}
		}
	}
	@media screen and (min-width: 1440px) {
		max-width: 615px;
		margin-bottom: 0px;
	}
}

.aboutSection__right {
	max-width: 610px;
	max-height: 692px;
	display: grid;
	grid-template-columns: repeat(3, auto);
	grid-template-rows: auto;
	grid-gap: 10px;
	justify-items: end;

	& .aboutSection__img-big {
		max-width: 610px;
		grid-column-start: 1;
		grid-column-end: 4;
		grid-row-start: 1;
		grid-row-end: 1;
	}

	& .aboutSection__img-small {
		max-width: 178px;
	}

	@media screen and (min-width: 768px) {
		display: grid;
		grid-template-columns: 576px 140px;
		grid-template-rows: repeat(3, auto);
		align-items: start;
		justify-items: start;

		& .aboutSection__img-big {
			max-width: 610px;
			max-height: 355px;
			grid-column-start: 1;
			grid-column-end: 1;
			grid-row-start: 1;
			grid-row-end: 4;
		}

		& .aboutSection__img-small {
			max-width: 178px;
		}
	}

	@media screen and (min-width: 1440px) {
		display: grid;
		grid-template-columns: repeat(3, auto);
		grid-template-rows: auto;
		justify-items: end;

		& .aboutSection__img-big {
			max-width: 610px;
			max-height: 534px;
			grid-column-start: 1;
			grid-column-end: 4;
			grid-row-start: 1;
			grid-row-end: 1;
		}

		& .aboutSection__img-small {
			max-width: 178px;
		}
	}
}
