<section class="contactsSection">
  <div class="container">
    <h3 class="title title-withDot">Контакты</h3>
    <div class="contactsSection__textRow">
      <div class="contactsSection__textCol">1</div>
      <div class="contactsSection__textCol">2</div>
      <div class="contactsSection__textCol">3</div>
      <div class="contactsSection__textCol">4</div>
    </div>
    <div class="contactsSection__formRow">
      <div class="contactsSection__formCol">
        <form action="">
          <input type="text" class="input" placeholder="Ваше имя" />
          <input type="tel" class="input" placeholder="Телефон" />
          <button class="button" type="submit">заказать звонок</button>
        </form>
      </div>
      <div class="contactsSection__formCol">
        <iframe
          src="https://www.google.com/maps/d/embed?mid=1Hpy8cWYwS4DPMcVq4hY8j-P-7Qg&ehbc=2E312F"
          width="640"
          height="480"
        ></iframe>
      </div>
    </div>
  </div>
</section>
