.feedbacksection {
  padding: 30px 0;
  & .container {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
  .title {
    align-self: flex-start;
  }
  &__text {
    max-width: 250px;
  }

  &__row {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    width: 100%;
    gap: 15px;
  }
  &__left,
  &__right {
    width: 100%;
  }
  &__right {
    .text {
      color: #bcced0;
      max-width: 290px;
    }
  }
  @media screen and (min-width: 768px) {
    padding: 35px 0;
    &__text {
      max-width: 570px;
    }
    &__row {
      gap: 20px;
    }
  }
  @media screen and (min-width: 1440px) {
    padding: 55px 0;
    &__text {
      align-self: flex-start;
      padding-left: 10%;
    }
    &__row {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
    }
    &__left {
      width: 40%;
    }
    &__right {
      width: 60%;
    }
    &__right {
      .text {
        color: #bcced0;
        max-width: 210px;
      }
    }
  }
}
