<footer class="footer">
  <div class="container">
    <div class="footer__row">
      <div class="footer__col">
        <a href="tel:+7 (977) 799-87-82" class="link">+7 (977) 799-87-82</a>
        <a href="mailto:volyavet@yandex.ru" class="link">volyavet@yandex.ru</a>
      </div>
      <div class="footer__col">
        <a href="#" class="link">ул. Германа Титова, 12, корп. 1, г. Химки</a>
      </div>
      <div class="footer__col">
        <p class="text">Сайт разработал Никита</p>
        <p class="text">Все права защищены © 2023</p>
      </div>
      <div class="footer__col">
        <a href="#" class="link">Публичная оферта</a>
      </div>
      <div class="footer__col">
        <a href="#"><img src="../../img/telegram.svg" alt="" class="icon" /></a>
        <a href="#"><img src="../../img/viber.svg" alt="" class="icon" /></a>
      </div>

      <div class="footer__col">
        <a href="#"><img src="../../img/arrowtop.svg" alt="" class="icon" /></a>
      </div>
    </div>
  </div>
</footer>
