<header class="header">
  <div class="header__row">
    <div class="header__col">
      <img src="../../img/logo.png" alt="" class="header__logo" />
      <div class="dropdown">
        <button class="dropbtn">
          Меню
          <img src="../../img/dropdown.svg" alt="" class="dropbtn-icon" />
        </button>
        <div class="dropdown-content">
          <a href="#">Новости и акции</a>
          <a href="#">О нас</a>
          <a href="#">Услуги и цены</a>
          <a href="#">Библиотека</a>
          <a href="#">Наша команда</a>
          <a href="#">Отзывы</a>
          <a href="#">Контакты</a>
        </div>
      </div>
    </div>
    <div class="header__col">
      <div class="header__search">
        <input type="text" class="header__input" placeholder="Поиск" />
        <img src="../../img/search.svg" alt="" class="header__searchIcon" />
      </div>
    </div>
  </div>
  <!-- <p class="text text-s">Нажимая на кнопку вы соглашаетесь на обработку персональных данных</p>
	<a href="#" class="link">White</a>
	<a href="#" class="link link-dark">Dark</a>
	<a href="#" class="link link-blue">Blue</a> -->
</header>
