<header class="header">
    Header 
    <button class="button">Click me!</button>
    <h3 class="title">Услуги</h3>
    <p class="text">Оставьте свои данные и наш администратор свяжется с вами для уточнения всех деталей записи в самое ближайшее время</p>
    <p class="text text-s">Нажимая на кнопку вы соглашаетесь на обработку персональных данных</p>
    <a href="#" class="link">White</a>
    <a href="#" class="link link-dark">Dark</a>
    <a href="#" class="link link-blue">Blue</a>
    <img src="../../img/main.jpg" alt="" class="image image-bl">
</header>
