.header {
  height: 90px;
  padding: 15px 0;
  &__logo {
    border-radius: 50%;
    margin-right: 10%;
  }
  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__col {
    display: flex;
    align-items: center;
  }
  &__search {
    display: flex;
    align-items: center;
    position: relative;
  }
  &__input {
    height: 40px;
    width: 130px;
    padding-left: 20px;
    color: #f8f8f8;
    background: rgba(209, 253, 255, 0.15);

    border: 1px solid #d1fdff;
    border-radius: 30px;
  }
  &__searchIcon {
    padding: 6px;
    background: rgba(255, 255, 255, 0.15);

    border: 2px solid #d1fdff;
    border-radius: 50%;
    position: absolute;
    right: 5px;
  }
  .nav {
    display: none;
  }
  @media screen and (min-width: 768px) {
    width: 100%;
  }

  @media screen and (min-width: 1440px) {
    width: 1280px;
    margin: 0 auto;
    .dropdown {
      display: none;
    }
    .nav {
      display: block;
    }
    .navLink {
      padding: 0 16px;
      font-weight: 400;
      font-size: 14px;
      line-height: 130%;

      text-transform: uppercase;
      text-decoration: none;

      color: #d1fdff;
      &:hover {
        color: #fff;
      }
    }
    &__input {
      height: 50px;
      width: 196px;
      transition: 1s;
    }
    &__input:focus {
      height: 50px;
      width: 240px;
      transition: 1s;
    }
    &__searchIcon {
      padding: 10px;
      right: 6px;
    }
  }
}
