.library {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 15px 70px 15px;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
  }

  & .title {
    align-self: flex-start;
    padding-left: 40px;
    margin-bottom: 20px;
    position: relative;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    overflow: hidden;
    gap: 13px 0;
    // max-height: 770px;
    .card {
      width: 50%;
      margin: 0;
      padding: 0 5px;
    }
    .card {
      &:hover {
        .card__content {
          .text-s {
            display: none;
          }
        }
        .newsSection__hoverButton {
          display: block;
        }
      }
    }
  }

  @media screen and (min-width: 768px) {
    &__buttons {
      flex-direction: row;
      gap: 20px;
    }

    &__wrapper {
      gap: 20px 0;

      //   max-height: 630px;
      .card {
        width: 33.333%;
        margin: 0;
        padding: 0 15px;
      }
    }

    & .title {
      &::before {
        width: 30px;
        height: 30px;
      }
    }
  }

  @media screen and (min-width: 1440px) {
    &__wrapper {
      gap: 40px 0;

      max-height: none;
      .card {
        width: 20%;
        margin: 0;
        padding: 0 15px;
      }
    }

    & .title {
      padding-left: 80px;

      &::before {
        left: 40px;
      }
    }
  }
}
