<section class="mainSection">
  @@include('_header.html')
  <div class="mainSection__lineBlock mainSection__lineBlock-mobile">
    <img src="../../img/telegram.svg" alt="" class="icon" />
    <img src="../../img/viber.svg" alt="" class="icon" />
  </div>
  <div class="container mainSection__container">
    <div class="mainSection__lineBlock mainSection__lineBlock-desctop">
      <img src="../../img/telegram.svg" alt="" class="icon" />
      <img src="../../img/viber.svg" alt="" class="icon" />
    </div>
    <div class="mainSection__left">
      <p class="text text-xs">
        Когда здоровье вашего питомца <br />
        важнее всего остального
        <img
          src="../../img/mainLineForText.png"
          alt=""
          class="mainLineForText"
        />
      </p>
      <h2 class="title title-xl">
        Ветеринарная <br />
        клиника <span>VоLYAVET</span>
      </h2>
      <a href="#" class="button">Записаться на приём</a>
      <div class="textGroup">
        <div class="text">Профессиональные врачи с огромным опытом</div>
        <div class="text">Новое современное оборудование</div>
        <div class="text">Безграничная любовь и забота о животных</div>
      </div>
    </div>
    <div class="mainSection__right">
      <img
        src="../../img/main.png"
        alt=""
        class="image image-bl mainSection__img"
      />
      <img
        src="../../img/main-tablet.png"
        alt=""
        class="image image-bl mainSection__imgTablet"
      />
      <img
        src="../../img/main-mobile.png"
        alt=""
        class="image image-bl mainSection__imgMobile"
      />
    </div>
  </div>
</section>
