.mainSection {
  padding: 30px 15px;
  padding-top: 0;
  //height: 100vh;
  &__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  &__left {
    position: absolute;
    left: 7%;
    width: 86%;
    top: 40px;
    .text {
      color: #212c53;
      margin-bottom: 15px;
    }
    .text-xs {
      text-transform: uppercase;
    }
    .title {
      color: #212c53;
      margin-bottom: 15px;
      text-transform: uppercase;
    }
    .button {
      color: #212c53;
      border-color: #212c53;
    }
    .textGroup {
      display: none;
    }
    .mainLineForText {
      display: none;
    }
  }
  &__right {
    width: 100%;
  }
  &__lineBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid #d1fdff;
    margin-bottom: 30px;
    &-mobile {
      display: flex;
    }
    &-desctop {
      display: none;
    }
    .icon {
      padding: 0 15px;
      left: 50%;
      margin-bottom: -15px;
      background: #2b3763;
      cursor: pointer;
    }
  }
  &__imgMobile {
    display: block;
    width: 100%;
  }
  &__imgTablet {
    display: none;
  }
  &__img {
    display: none;
  }
  @media screen and (min-width: 768px) {
    padding: 35px 15px;
    &__container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: nowrap;
      padding: 0;
    }
    &__left {
      position: static;
      color: initial;
      margin-top: -60px;
      .textGroup {
        display: block;
      }
      .text,
      .title,
      .button {
        color: #d1fdff;
        margin-bottom: 30px;
        border-color: #d1fdff;
      }
      .textGroup {
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 10px;
        width: 47%;
        .text {
          display: block;
          width: 33%;
          padding: 0 15px;
          border-left: 1px solid #64c1c6;
          color: #d1fdff;
          &:first-child {
            border: none;
          }
        }
      }
    }
    &__right {
      height: initial;
    }
    &__lineBlock {
      margin-bottom: 75px;
    }
    &__imgMobile {
      display: none;
    }
    &__imgTablet {
      display: block;
    }
    &__img {
      display: none;
    }
  }

  @media screen and (min-width: 320px) and (max-width: 1439px) {
    .title-xl {
      font-family: "gothampro_bold";
    }
    .mainSection__left .textGroup {
      margin-bottom: -35px;
      .text {
        padding: 0 2px;
        width: 45%;
      }
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1439px) {
    &__left {
      width: 100%;
    }
    .title-xl {
      font-size: 31px;
    }
    .mainLineForText {
      display: inline-block;
      margin-left: 5px;
      width: 100px;
    }
  }

  @media screen and (min-width: 1440px) {
    position: relative;
    padding: 55px 15px;
    &__container {
      padding: 0 15px;
    }
    &__left {
      padding-left: 115px;
      padding-top: 85px;
      .title-xl {
        color: #f8f8f8;
        span {
          color: #d1fdff;
          font-family: "gothampro_bold";
          font-weight: 400;
          font-size: 45px;
          line-height: 45px;
        }
      }
      .text-xs {
        font-size: 16px;
        line-height: 159%;
        /* or 25px */

        text-transform: uppercase;

        /* светлый голубой */

        color: #d1fdff;
      }
      .textGroup {
        justify-content: flex-start;
        .text {
          width: 29%;
        }
      }
      .mainLineForText {
        display: inline-block;
        margin-left: 55px;
      }
    }
    &__imgMobile {
      display: none;
    }
    &__imgTablet {
      display: none;
    }
    &__img {
      display: block;
    }
    &__lineBlock {
      position: absolute;
      transform: rotate(90deg);
      left: -265px;
      bottom: 34%;
      width: 540px;
      &-mobile {
        display: none;
      }
      &-desctop {
        display: flex;
      }
    }
  }
}
