.newsSection {
  .title {
    margin-bottom: 20px;
  }
  .slider__row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .slider__item {
    width: 50%;
    padding: 0;
  }

  @media screen and (min-width: 768px) {
    .title {
      margin-bottom: 30px;
    }
    .slider__row {
      margin-top: 30px;
      margin-bottom: 45px;
    }
    .slider__item {
      width: 33%;
    }
  }
  @media screen and (min-width: 1440px) {
    .title {
      margin-bottom: 50px;
    }
    .slider__row {
      margin-top: 50px;
      margin-bottom: 65px;
    }
    .slider__item {
      width: 20%;
    }
  }
}
