<section class="newsSection">
  <div class="container">
    <h3 class="title title-withDot">Новости и акции</h3>
    <!-- <div class="newsSection__row">
      <div class="card">
        <img src="../../img/news1.jpg" alt="" class="card__image image" />
        <div class="card__content">
          <p class="text-s">Как часто нужно стричь когти своему коту?</p>
          <p class="text-s date">16.06.23</p>
        </div>
      </div>
      <div class="card">
        <img src="../../img/news2.jpg" alt="" class="card__image image" />
        <div class="card__content">
          <p class="text-s">О чём говорит сонливость питомца</p>
          <p class="text-s date">16.06.23</p>
        </div>
      </div>
      <div class="card">
        <img src="../../img/news3.jpg" alt="" class="card__image image" />
        <div class="card__content">
          <p class="text-s">Запишитесь на весенний чек-ап здоровья питомца</p>
          <p class="text-s date">16.06.23</p>
        </div>
      </div>
    </div> -->

    <div class="slider slider-light news-slider">
      <div class="slider__item">
        <div class="card">
          <img src="../../img/news1.jpg" alt="" class="card__image image" />
          <div class="card__content">
            <p class="text-s">Как часто нужно стричь когти своему коту?</p>
            <p class="text-s date">16.06.23</p>
            <a href="#" class="button newsSection__hoverButton"
              >Читать статью</a
            >
          </div>
        </div>
      </div>
      <div class="slider__item">
        <div class="card">
          <img src="../../img/news2.jpg" alt="" class="card__image image" />
          <div class="card__content">
            <p class="text-s">Как часто нужно стричь когти своему коту?</p>
            <p class="text-s date">16.06.23</p>
            <a href="#" class="button newsSection__hoverButton"
              >Читать статью</a
            >
          </div>
        </div>
      </div>
      <div class="slider__item">
        <div class="card">
          <img src="../../img/news2.jpg" alt="" class="card__image image" />
          <div class="card__content">
            <p class="text-s">Как часто нужно стричь когти своему коту?</p>
            <p class="text-s date">16.06.23</p>
            <a href="#" class="button newsSection__hoverButton"
              >Читать статью</a
            >
          </div>
        </div>
      </div>
      <div class="slider__item">
        <div class="card">
          <img src="../../img/news2.jpg" alt="" class="card__image image" />
          <div class="card__content">
            <p class="text-s">Как часто нужно стричь когти своему коту?</p>
            <p class="text-s date">16.06.23</p>
            <a href="#" class="button newsSection__hoverButton"
              >Читать статью</a
            >
          </div>
        </div>
      </div>
      <div class="slider__item">
        <div class="card">
          <img src="../../img/news2.jpg" alt="" class="card__image image" />
          <div class="card__content">
            <p class="text-s">Как часто нужно стричь когти своему коту?</p>
            <p class="text-s date">16.06.23</p>
            <a href="#" class="button newsSection__hoverButton"
              >Читать статью</a
            >
          </div>
        </div>
      </div>
      <div class="slider__item">
        <div class="card">
          <img src="../../img/news2.jpg" alt="" class="card__image image" />
          <div class="card__content">
            <p class="text-s">Как часто нужно стричь когти своему коту?</p>
            <p class="text-s date">16.06.23</p>
            <a href="#" class="button newsSection__hoverButton"
              >Читать статью</a
            >
          </div>
        </div>
      </div>
      <div class="slider__item">
        <div class="card">
          <img src="../../img/news2.jpg" alt="" class="card__image image" />
          <div class="card__content">
            <p class="text-s">Как часто нужно стричь когти своему коту?</p>
            <p class="text-s date">16.06.23</p>
            <a href="#" class="button newsSection__hoverButton"
              >Читать статью</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
