<section class="notFound">
  <div class="notFound__row">
    <div class="notFound__col">
      <img src="../../img/404_1.jpg" alt="" class="image image-tr" />
    </div>
    <div class="notFound__col notFound__main">
      <p class="text">
        Упс! Этой страницы не существует. <br />
        Приносим извинения за неудобства.
      </p>
      <h2 class="notFound__title">404</h2>
      <a href="/" class="button">На главную</a>
    </div>
    <div class="notFound__col">
      <img src="../../img/404_2.jpg" alt="" class="image image-bl" />
    </div>
  </div>
</section>
