.notFound {
  padding-top: 60px;
  padding-bottom: 70px;
  padding-left: 16px;
  padding-right: 16px;
  &__row {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }
  &__col {
    &:first-child {
      display: none;
    }
  }
  &__main {
    display: flex;
    flex-direction: column;
    gap: 15px 0;
    text-align: center;
  }
  &__title {
    font-weight: 700;
    font-size: 100px;
    line-height: 103.36%;

    text-transform: uppercase;

    color: #f8f8f8;
  }
  .text {
    color: #f8f8f8;
  }
  @media screen and (min-width: 768px) {
    padding-top: 80px;
    padding-bottom: 70px;
    &__row {
      display: flex;
      flex-direction: row;
      gap: 25px;
    }
    &__col {
      &:first-child {
        display: block;
      }
    }
    &__main {
      gap: 20px 0;
    }
  }
  @media screen and (min-width: 1440px) {
    padding-top: 120px;
    padding-bottom: 110px;
    padding-left: 0px;
    padding-right: 0px;
    &__row {
      gap: 30px;
    }
    &__title {
      font-size: 150px;
      line-height: 103.36%;

      text-transform: uppercase;

      color: #f8f8f8;
    }
  }
}
