.servicesAndPrice {
  padding-top: 35px;
  padding-bottom: 60px;
  &__row {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }
  &__left,
  &__right {
    width: 100%;
  }
  &__right {
    border-top: 1px solid #596281;
    margin-top: 15px;
  }
  &__title {
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 18px;
    line-height: 103.36%;
    /* identical to box height, or 19px */

    text-transform: uppercase;

    color: #f8f8f8;
  }
  &__button {
    width: 50%;
    padding: 14px;
    background: #3d4c87;
    border-radius: 10px;
    font-weight: 400;
    font-size: 13px;
    line-height: 120%;
    /* or 16px */
    text-align: center;
    text-transform: uppercase;

    /* светлый голубой */

    color: #d1fdff;
    border: none;
  }
  &__image {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  &__bottomRow {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-direction: column;
    .text {
      color: #c6d4d3;
      width: 100%;
    }
    .button {
      width: 100%;
    }
  }
  &__table {
    display: none;
  }
  &__tableMobile {
    margin-bottom: 24px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 40px;
    padding-bottom: 60px;
    &__row {
      padding-top: 30px;
    }
    &__right {
      margin-top: 30px;
    }
    &__title {
      font-size: 25px;
      margin-top: 25px;
      margin-bottom: 30px;
    }
    &__button {
      width: 25%;
    }
    &__bottomRow {
      flex-direction: row;
      .text {
        color: #c6d4d3;
        width: 220px;
      }
      .button {
        width: initial;
      }
    }
    &__tableMobile {
      display: none;
    }
    &__table {
      display: block;
      margin-bottom: 34px;
    }
  }
  @media screen and (min-width: 1440px) {
    padding-top: 45px;
    padding-bottom: 110px;
    &__row {
      display: flex;
      flex-direction: row;
    }
    &__left,
    &__right {
      padding: 0 24px;
    }
    &__left {
      width: intial;
      flex: 3;
    }
    &__right {
      width: intial;
      flex: 9;
      border-left: 1px solid #596281;
      border-top: none;
      margin-top: 0;
    }
    &__title {
      margin-top: 0;
    }
    &__button {
      width: 100%;
    }
    &__bottomRow {
      .text {
        color: #c6d4d3;
        width: 290px;
      }
    }
    &__table {
      margin-bottom: 60px;
    }
  }
}
