<section class="_servicesAndPrice">
  <div class="container">
    <h3 class="title title-withDot">Услуги и цены</h3>
    <div class="_servicesAndPrice__row">
      <div class="_servicesAndPrice__left">
        <button class="button">Анализы</button>
      </div>
      <div class="_servicesAndPrice__right">
        <h3>вакцинации</h3>
        <p class="text">
          Вакцинация – обязательная процедура для безопасности вашего питомца. С
          помощью вакцинации можно избежать значительного количества
          инфекционных заболеваний (у животных формируется стойкий иммунитет).
          Вакцинацию важно проводить регулярно (примерно раз в год) под
          наблюдением врача.
        </p>
        <img src="../../img/servicesAndPrice.jpg" alt="" class="image" />
        <table class="_servicesAndPrice__table"></table>
        <div class="_servicesAndPrice__bottomRow">
          <p class="text">
            Стоимость услуг на сайте не является публичной офертой и может
            отличаться от цен прейскуранта
          </p>
          <button class="button">Записаться на приём</button>
        </div>
      </div>
    </div>
  </div>
</section>
