<section class="servicesSection">
  <div class="container">
    <h3 class="title title-withDot">Услуги</h3>
    <p class="text">
      Мы круглосуточно на связи и готовы оказать качественную медицинскую помощь
      вашему любимцу в любое время суток
    </p>
    <div class="servicesSection__cardGroup">
      <div class="cardService">
        <img src="../../img/service1.jpg" alt="" class="cardImg" />
        <p class="cardTitle">Стационар</p>
      </div>
      <div class="cardService">
        <img src="../../img/service2.jpg" alt="" class="cardImg" />
        <p class="cardTitle">Анализы</p>
      </div>
      <div class="cardService">
        <img src="../../img/service3.jpg" alt="" class="cardImg" />
        <p class="cardTitle">Хирургия</p>
      </div>
      <div class="cardService">
        <img src="../../img/service4.jpg" alt="" class="cardImg" />
        <p class="cardTitle">Терапия</p>
      </div>
      <div class="cardService">
        <img src="../../img/service5.jpg" alt="" class="cardImg" />
        <p class="cardTitle">Вакцинации</p>
      </div>
      <div class="cardService">
        <img src="../../img/service6.jpg" alt="" class="cardImg" />
        <p class="cardTitle">Стоматология</p>
      </div>
    </div>
    <button class="button">Список всех услуг</button>
  </div>
</section>
