.teamSection {
  padding-top: 40px;
  padding-bottom: 47px;
  background: #212c53;
  .title {
    margin-bottom: 20px;
  }
  .slider__arrows {
    margin-top: 35px;
  }
  .slider__textBlock {
    position: relative;
    padding-bottom: 30px;
  }
  &__itemTitle {
    margin-bottom: 10px;
  }
  &__itemTitle,
  &__itemText {
    color: #f8f8f8;
  }
  &__itemSpan {
    position: absolute;
    bottom: 10px;
    right: 15px;
    color: #d1fdff;
    font-size: 14px;
    line-height: 19px;
  }
  @media screen and (min-width: 768px) {
    padding: 55px 0;
    .title {
      margin-bottom: 30px;
    }
    .slider__arrows {
      margin-top: 45px;
    }
  }
  @media screen and (min-width: 1440px) {
    padding-top: 55px;
    padding-bottom: 72px;
    .title {
      margin-bottom: 50px;
    }
    .slider__arrows {
      margin-top: 65px;
    }
  }
}
