<section class="userFeedbacksSection">
  <div class="container">
    <h3 class="title title-withDot">Отзывы</h3>
    <button class="userFeedbacksSection__button">
      <img src="../../img/yandex.svg" alt="" /> Яндекс.Карты 5.0
    </button>

    <div class="slider slider-light feedbacks-slider">
      <div class="userFeedbacksSection__card">
        <div class="userFeedbacksSection__userRow">
          <div class="userFeedbacksSection__userIcon">AI</div>
          <div class="userFeedbacksSection__userInfo">
            <div class="userFeedbacksSection__stars">
              <img src="../../img/star.svg" alt="" />
              <img src="../../img/star.svg" alt="" />
              <img src="../../img/star.svg" alt="" />
              <img src="../../img/star.svg" alt="" />
              <img src="../../img/star.svg" alt="" />
            </div>
            <h5 class="userFeedbacksSection__userName">Andrey Ivashko</h5>
            <p class="userFeedbacksSection__date">12 февр. 2021</p>
          </div>
        </div>
        <p class="userFeedbacksSection__feedbackText">
          VolyaVet – это больше, чем просто ветеринарная клиника. Мы – семья,
          ваша поддержка и опора во всём, что связано с вашими питомцами. У нас
          индивидуальный подход к каждому пациенту и владельцу. Здесь выслушают,
          поддержат и помогут, ведь мы понимаем ту связь...
        </p>
        <a href="#" class="userFeedbacksSection__more">Подробнее</a>
        <a href="#" class="userFeedbacksSection__linkToMap"
          >Отзыв из Яндекс.Карт</a
        >
      </div>
      <div class="userFeedbacksSection__card">
        <div class="userFeedbacksSection__userRow">
          <div class="userFeedbacksSection__userIcon">AI</div>
          <div class="userFeedbacksSection__userInfo">
            <div class="userFeedbacksSection__stars">
              <img src="../../img/star.svg" alt="" />
              <img src="../../img/star.svg" alt="" />
              <img src="../../img/star.svg" alt="" />
              <img src="../../img/star.svg" alt="" />
              <img src="../../img/star.svg" alt="" />
            </div>
            <h5 class="userFeedbacksSection__userName">Andrey Ivashko</h5>
            <p class="userFeedbacksSection__date">12 февр. 2021</p>
          </div>
        </div>
        <p class="userFeedbacksSection__feedbackText">
          VolyaVet – это больше, чем просто ветеринарная клиника. Мы – семья,
          ваша поддержка и опора во всём, что связано с вашими питомцами. У нас
          индивидуальный подход к каждому пациенту и владельцу. Здесь выслушают,
          поддержат и помогут, ведь мы понимаем ту связь...
        </p>
        <a href="#" class="userFeedbacksSection__more">Подробнее</a>
        <a href="#" class="userFeedbacksSection__linkToMap"
          >Отзыв из Яндекс.Карт</a
        >
      </div>
      <div class="userFeedbacksSection__card">
        <div class="userFeedbacksSection__userRow">
          <div class="userFeedbacksSection__userIcon">AI</div>
          <div class="userFeedbacksSection__userInfo">
            <div class="userFeedbacksSection__stars">
              <img src="../../img/star.svg" alt="" />
              <img src="../../img/star.svg" alt="" />
              <img src="../../img/star.svg" alt="" />
              <img src="../../img/star.svg" alt="" />
              <img src="../../img/star.svg" alt="" />
            </div>
            <h5 class="userFeedbacksSection__userName">Andrey Ivashko</h5>
            <p class="userFeedbacksSection__date">12 февр. 2021</p>
          </div>
        </div>
        <p class="userFeedbacksSection__feedbackText">
          VolyaVet – это больше, чем просто ветеринарная клиника. Мы – семья,
          ваша поддержка и опора во всём, что связано с вашими питомцами. У нас
          индивидуальный подход к каждому пациенту и владельцу. Здесь выслушают,
          поддержат и помогут, ведь мы понимаем ту связь...
        </p>
        <a href="#" class="userFeedbacksSection__more">Подробнее</a>
        <a href="#" class="userFeedbacksSection__linkToMap"
          >Отзыв из Яндекс.Карт</a
        >
      </div>
      <div class="userFeedbacksSection__card">
        <div class="userFeedbacksSection__userRow">
          <div class="userFeedbacksSection__userIcon">AI</div>
          <div class="userFeedbacksSection__userInfo">
            <div class="userFeedbacksSection__stars">
              <img src="../../img/star.svg" alt="" />
              <img src="../../img/star.svg" alt="" />
              <img src="../../img/star.svg" alt="" />
              <img src="../../img/star.svg" alt="" />
              <img src="../../img/star.svg" alt="" />
            </div>
            <h5 class="userFeedbacksSection__userName">Andrey Ivashko</h5>
            <p class="userFeedbacksSection__date">12 февр. 2021</p>
          </div>
        </div>
        <p class="userFeedbacksSection__feedbackText">
          VolyaVet – это больше, чем просто ветеринарная клиника. Мы – семья,
          ваша поддержка и опора во всём, что связано с вашими питомцами. У нас
          индивидуальный подход к каждому пациенту и владельцу. Здесь выслушают,
          поддержат и помогут, ведь мы понимаем ту связь...
        </p>
        <a href="#" class="userFeedbacksSection__more">Подробнее</a>
        <a href="#" class="userFeedbacksSection__linkToMap"
          >Отзыв из Яндекс.Карт</a
        >
      </div>
      <div class="userFeedbacksSection__card">
        <div class="userFeedbacksSection__userRow">
          <div class="userFeedbacksSection__userIcon">AI</div>
          <div class="userFeedbacksSection__userInfo">
            <div class="userFeedbacksSection__stars">
              <img src="../../img/star.svg" alt="" />
              <img src="../../img/star.svg" alt="" />
              <img src="../../img/star.svg" alt="" />
              <img src="../../img/star.svg" alt="" />
              <img src="../../img/star.svg" alt="" />
            </div>
            <h5 class="userFeedbacksSection__userName">Andrey Ivashko</h5>
            <p class="userFeedbacksSection__date">12 февр. 2021</p>
          </div>
        </div>
        <p class="userFeedbacksSection__feedbackText">
          VolyaVet – это больше, чем просто ветеринарная клиника. Мы – семья,
          ваша поддержка и опора во всём, что связано с вашими питомцами. У нас
          индивидуальный подход к каждому пациенту и владельцу. Здесь выслушают,
          поддержат и помогут, ведь мы понимаем ту связь...
        </p>
        <a href="#" class="userFeedbacksSection__more">Подробнее</a>
        <a href="#" class="userFeedbacksSection__linkToMap"
          >Отзыв из Яндекс.Карт</a
        >
      </div>
      <div class="userFeedbacksSection__card">
        <div class="userFeedbacksSection__userRow">
          <div class="userFeedbacksSection__userIcon">AI</div>
          <div class="userFeedbacksSection__userInfo">
            <div class="userFeedbacksSection__stars">
              <img src="../../img/star.svg" alt="" />
              <img src="../../img/star.svg" alt="" />
              <img src="../../img/star.svg" alt="" />
              <img src="../../img/star.svg" alt="" />
              <img src="../../img/star.svg" alt="" />
            </div>
            <h5 class="userFeedbacksSection__userName">Andrey Ivashko</h5>
            <p class="userFeedbacksSection__date">12 февр. 2021</p>
          </div>
        </div>
        <p class="userFeedbacksSection__feedbackText">
          VolyaVet – это больше, чем просто ветеринарная клиника. Мы – семья,
          ваша поддержка и опора во всём, что связано с вашими питомцами. У нас
          индивидуальный подход к каждому пациенту и владельцу. Здесь выслушают,
          поддержат и помогут, ведь мы понимаем ту связь...
        </p>
        <a href="#" class="userFeedbacksSection__more">Подробнее</a>
        <a href="#" class="userFeedbacksSection__linkToMap"
          >Отзыв из Яндекс.Карт</a
        >
      </div>
    </div>
  </div>
</section>
