<section class="userFeedbacksSection">
  <div class="container">
    <h3 class="title title-withDot">Отзывы</h3>
    <button class="userFeedbacksSection__button">
      <img src="../../img/yandex.svg" alt="" /> Яндекс.Карты 5.0
    </button>

    <div class="slider slider-light feedbacks-slider">
      <div class="userFeedbacksSection__card">title 1</div>
      <div class="userFeedbacksSection__card">title 1</div>
      <div class="userFeedbacksSection__card">title 1</div>
      <div class="userFeedbacksSection__card">title 1</div>
      <div class="userFeedbacksSection__card">title 1</div>
      <div class="userFeedbacksSection__card">title 1</div>
      <div class="userFeedbacksSection__card">title 1</div>
    </div>
  </div>
</section>
