<section class="weHelp">
	<div class="container weHelp__container">
		<h2 class="title title-withDot">Каким животным мы помогаем</h2>
		<p class="text">
			Наша ветеринарная клиника многопрофильная, поэтому для любого вашего питомца мы подберём того врача, который
			знает, как найти к нему подход и сможет назначить подходящее лечение
		</p>
		<div class="weHelp__cardsWrapper">
			<div class="weHelp__card">
				<img src="../../img/cat.jpg" alt="" class="image" />
				<p class="text text-xs">кошки</p>
			</div>
			<div class="weHelp__card">
				<img src="../../img/dog.jpg" alt="" class="image" />
				<p class="text text-xs">собаки</p>
			</div>
			<div class="weHelp__card">
				<img src="../../img/rabbit.jpg" alt="" class="image" />
				<p class="text text-xs">кролики</p>
			</div>
			<div class="weHelp__card">
				<img src="../../img/mouse.jpg" alt="" class="image" />
				<p class="text text-xs">мыши</p>
			</div>
			<div class="weHelp__card">
				<img src="../../img/hamster.jpg" alt="" class="image" />
				<p class="text text-xs">хомяки</p>
			</div>
			<div class="weHelp__card">
				<img src="../../img/ferret.jpg" alt="" class="image" />
				<p class="text text-xs">хорьки</p>
			</div>
		</div>
	</div>
</section>
