<section class="whenSection">
  <div class="container">
    <h3 class="title title-withDot">Когда стоит обратиться в клинику ?</h3>
    <p class="text">
      Мы круглосуточно на связи и готовы оказать качественную медицинскую помощь
      вашему любимцу в любое время суток
    </p>
    <div class="whenSection__row">
      <div class="whenSection__left">
        <img src="../../img/when.jpg" alt="" class="image image-br" />
      </div>
      <div class="whenSection__right">some blocks</div>
    </div>
  </div>
</section>
